.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cover{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 200px;
}

.title{
    text-align: center;
    margin-bottom: 0;
    a{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
}

.price{
    color:blue;
    font-size: 1.5rem;
    font-weight: bold;
}